*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 208, 241);
    color: white;
    font-size: 3rem;
    padding: 3rem;
    height: 45rem;
}

.container{
    width: 42%;
}

.game-board{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
}

.box{
    width: 9rem;
    height: 9rem;
    border: none;
    background-color: white;
    cursor: pointer;
    color: rgb(116, 208, 241);
    font-size: 4.5rem;
}

.text-cont{
    text-align: center;
}

#reset, #play, #play-draw{
    width: 9rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
}

.msg{
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(116, 203, 49);
    padding: 1rem 7rem 3rem;
    border-radius: 2rem;
    display: none;
}

.msg img, .draw img{
    height: 18rem;
    margin-bottom: -1rem;
}

.draw{
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(189, 201, 22);
    padding: 1rem 7rem 3rem;
    border-radius: 2rem;
    display: none;
}